# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local vim commands and settings
.vim/

# C++ executables shared or otherwise and object files
*.gch
*.o
*.so
*.test

# C++ compile commands for language server
cpp/compile_commands.json

# OpenGA C++ libraries (for now)
cpp/openGA-1.0.3/

# VSCode configs
.vscode/

# Mac OS display cache
.DS_Store

# Python virtual environment packages (can install via requirements.txt)
venv/

# My own local backups directory used prior to git
backups/

# Any logfiles for the running of the genetic algorithms
*.log

