p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.4em;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
